*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.product{
    width: 80%;
    height: auto;
    margin: auto;
}
.box{
    width: 22%;
    height: auto;
}
.top{
    width: 100%;
    display: inline-block;
    text-decoration: none;
}
.top .content{
    width: 100%;
    height: 150px;
    position: relative;
}
.top .content .hinhsp{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.269);
    position: absolute;
    top: 0;
    opacity: 0;
}
.content:hover .bg{
    opacity: 1;
    transition: 0.3s linear;
}
.text{
    color: white;
    position: absolute;
    top: 0px;
    padding: 10px;
    opacity: 0;
}
.content:hover .text{
    opacity: 1;
    transition: 0.3s linear;
}