*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.product{
    width: 80%;
    height: auto;
    margin: auto;
}
.box{
    width: 20%;
    height: auto;
}
a.top{
    width: 100%;
    display: inline-block;
}
.content{
    width: 100%;
    height: 150px;
    object-fit: cover; 
}