*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.produt{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}