*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
html,body{
    width: 100%;
    height: 100%;
}
.product{
    width: 80%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
}
.box{
    width: 22%;
    height: auto;
}
a.top{
    width: 100%;
    display: inline-block;
    text-decoration: none;
}
.top .content{
    width: 100%;
    height: 150px;
    position: relative;
}
a.top .content .hinhsp{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top .content .bg{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.377);
    position: absolute;
    TOP:0;
    opacity: 0;
    transition: 0.3s;
}
.top .content:hover .bg{
    opacity: 1;
    transition: 0.3s;
}
.text{
    color: white;
    position: absolute;
    top: 0;
    padding: 5px;
    opacity: 0;
    transition: 0.3s;
}
.top .content:hover .text{
    opacity: 1;
    transition: 0.3s;
}
.top .content .diadiem{
    color: white;
    background-color: rgba(0, 0, 0, 0.428);
    width: 150px;
    text-align: center;
    padding: 5px;
}
