*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: #F5f5f5;
}
.tour{
  width: 370px;
  /* height: 420px; */
  height: auto;
  
  background-color: #fff;
 
  /* border: 5px solid black; */
}
.tour-content{
  padding: 20px;
}
.tour-title{
  background-color: red;
  margin-bottom: 10px;
  color: #23262;
}
.tour-rating{
  margin-bottom: 20px;
}