*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: #F5f5f5;
  padding: 40px 0;
}
.tour{
  width: 370px;
  /* height: 420px; */
  height: auto;
  
  background-color: #fff;
  border-radius: 10px;
  /* overflow: hidden; */
 
  /* border: 5px solid black; */
  /* margin-left: 30px; */
  width: calc(33.33% - 20px);
}
.tour-content{
  padding: 20px;
}
.tour-title{
  /* background-color: red; */
  margin-bottom: 10px;
  color: #23262f;
  font-size: 18px;
  padding-bottom: 10px;
  line-height: calc(28 / 18);
}
.tour-rating{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-duration,
.tour-review-count{
  color: #353949;
}
.tour-review{
  display: flex;
  align-items: center;

}
.tour-review-count{
  margin-left: 11px;
}
.tour-button{
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 8px 17px;
  background-color: purple;
  border-radius: 8px;
  line-height: calc(17 / 14);
  display: inline-block;
}
.tour-image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 239px;
  object-fit: cover;
}
.tour-list-container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.tour-list{
  
  /* margin-left: -30px; */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.tour-price{
  position: relative;
  display: inline-block;
  margin-left: 20px;
}