// khai bao bien 
$mau1:gray;
//khai bao ham
@mixin kt(w) {
    width: 50%;
    height: 50%;
}
body{
    background-color: blue;
}
html,body{
    width: 100%;
    height: 100%;
}
.khoi1{
    background-color:$mau1;
}
h1{
    color: $mau1;
}.cha{
    .con1{
       
        a{
            color: $mau1;
            &:hover{
                font-weight: bold;
            }
        }
    }
    .con2{
        width: 50%;
        height: 50%;
        a{color: gold;}
        p{font-size: 20px;}
    }
}