@media screen and (max-width: 576px) {
    header{
        height: auto;
        text-align: center;
        line-height: 20px;
        .languages{
            position: static;
            visibility: visible;
            width: 100%;
            a{
                color: $;
            }
        }
        .right{
            a{}
        }
    }
}
