// phần 1: định nghĩa các đối tượng co bản trong web (màu chữ, cỡ chữ, màu nền, ...)
$xanhdam:#2c3e50;
$mauchu:white;
$cochumenu:18px;
$cochuvua:15px;
$cochunho:13px;
$kieuchu:'Roboto', sans-serif;
*{margin: 0;padding: 0;}
header{
    height: 50px;
    line-height: 50px;
    background-color: $xanhdam;
    color: $mauchu;
    .top-language{
        position: relative;
        b.language{cursor: pointer;}
        .languages{
            a{
                display: block;
                padding: 5px 10px;
                color: $xanhdam;
                font-size: $cochunho;
                line-height: 15px;
                text-align: center;
                text-decoration: none;
            }
        }
    }
    .right{
        .nut{
            a{
                i{}
            }
        }
        .links{
            ul{
                li{
                    a{}
                }
            }
        }
    }
}
