*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
html{
    font-size:62.5%;
    overflow-x: hidden;
}
body{
    background: #f7f7f7;
}
:root{
    --red:#ff3838;
}
header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2rem 9%;
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, .1);
    justify-content:space-between;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}
header .logo i{
    padding-right: 0.5rem;
    color: var(--red);
}
header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}
header .navbar a:hover{
    color: var(--red);
}
#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: 0.1rem solid #666;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    display: none;
}
section{
    padding:2rem 9%;
}
.home{
    display: flex;
    flex-wrap: wrap;/* tim hieu */
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
    background:url(./img/2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content{
    flex:1 1 40rem;
    padding-top: 6.5rem;
    
}
.home .image{
    flex:1 1 40rem;
}
.home .image img{
    width:100%;
    padding: 1rem;
    animation: float 3s linear infinite;
}
.home .content h3{
    font-size: 5rem;
    color:#333;
  }
  
  .home .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
}
btn::before{
    content: '';
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    position: absolute;
    top: 0; right: 0;
  }
  .btn:hover::before{
    width: 100%;
    left: 0;
    z-index: -1;
  }
  .btn:hover{
    color: white;
  }

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}
/* css mobile  */
@media screen and (max-width: 991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
}
@media screen and (max-width: 767.98px) {
    #menu-bar{
        display: initial;
    }
    header .navbar {
        display: none;
    }
} */

