*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: #f7f7f7;
}
:root{
    --red:#ff3838;
}
.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2rem 9%;
    box-shadow:0 0.5rem ;
}
