*{margin: 0;padding: 0;}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
.menu{
    width: 100vw;
    height: 50px;
    background-color: darkblue;
    position: fixed;
    z-index: 5;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 15px;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.3s;
}
.menu a:hover{
    font-weight: bold;
}
.content{
    padding-top: 50px;
}
.menu.doimenu{
    background-color: brown;
    transition: 0.3s;
}
.nuttop{
    font-size: 70px;
    color: brown;
    position: fixed;
    top: 0;
    right: 3px;
    z-index: 4;
    cursor: pointer;
    visibility: hidden;
    transition: 0.5s;
    scr
}
.nuttop.active{
    visibility: visible;
    transition: 0.5s;
    top: 85%;

}