*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 90%;
    height: 60px;
    background-color: #78b43d;
    padding-left: 10%;
    display: flex;
    position: relative;
}
.phantu{
    position: relative;
    padding: 5px 10px;
}
.phantu:hover .phanduoi{
    visibility: visible;
}
.phantu a.phantren{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.phantu a.phantren i{
    display: block;
    font-size: 35px;
}
.phantu:hover{
    background-color: #1c5205;
}
.phanduoi{
    width: 200px;
    background-color: #badc58;
    position: absolute;
    top: 60px;
    left: 0;
    visibility: hidden;
}
.phanduoi a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 3px ;
    font-size: 18px;
    border-bottom: 1px solid #78b43d;
}
.phanduoi a:hover{
    color: white;
    background-color:#78b43d ;
}
.search{
    position: absolute;
    right: 8%;
    top: 0%;
}
.search i{
    font-size:35px;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-left: 1px solid rgb(189,185 , 10);
    border-right: 1px solid white;
    padding: 10px;
}
.search input{
    width: 900px;
    position: absolute;
    left: -910px;
}