*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: #F5f5f5;
  padding: 40px 24px;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
..popular-item
{

}
.{

}
..popular-image
{

}
.img.popular-img(src=https://images.unsplash.com/photo-1661956602139-ec64991b8b16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60,{

}
.alt=)
{

}
.span.popular-label{

}
.Must{

}
.see
{

}
..popular-content{

}
.
{

}
.span.popular-timeSep{

}
.28{

}
.10:00{

}
.AM{

}
.-{

}
.1:00{

}
.PM
{

}
.h3.popular-title{

}
.The{

}
.Grand{

}
.Palace
{

}
..popular-review
{

}

.span{

}
.4.8{

}
.(12{

}
.reviews)
{

}