*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
}
body{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: #F5f5f5;
  padding: 40px 24px;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
.popular-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.popular-item{
  width: calc(25% - 30px);
  margin-left: 30px;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-radius: ;
}