html{
    font-size: 20px;
    overflow-x: hidden;
}
.box{
    width: 200px;
    height: 300px;
    border: 1px solid red;
}
.cha{
    font-size: 20px;
}
.con{
    /* font-size: 1.2em;20px */
    width: 2em;
    font-size: 1.5rem;
}
*{
    margin: 0;padding: 0;
}
.khoi{
    width: 50vw;
    height: 50vh;
    border: 1px solid blue;
    font-size: 2rem;
}
.cha2{
    width: 100vw;
}
.con1{
    width: 49%;
    height: 300px;
    background-color: blueviolet;
    border: 1px solid red;
    float: left;
}
@media screen and (max-width: 767.98px) {
    html{
        font-size: 10px;
    }
    .con1{
        width: 100%;
    }
}

