*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%; 
}
.phan1{
    background-image: url("./image/1.jpg")  ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-position-x :-30px ;
    background-attachment: fixed;
}
.phan1 .ndphan1{
    width: 70%;
    margin: auto ;
    height: auto;
    text-align: right;
    transform: translateY(250px);
    
}
.ndphan1 .chunho{
    font-size: 25px;
}
.ndphan1 .chulon{
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 15px;
}
.ndphan1 a.nut {
    text-decoration: none;
    color: white;
    background: black;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.3s;
}
.ndphan a.nut:hover{
    color: black;
    background-color:transparent;
    border: 1px solid black;
}
.phan2{
    background-image: url("./image/1.jpg")  ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-position-x :-30px ;
    background-attachment: fixed;
}