*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%; 
}
.phan1{
    background: url("./image/1.jpg") no-repeat  ;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-position-x :-30px ;
}
.phan1 .ndphan1{
    width: 80%;
    height: auto;
    border: 2px solid red;
    text-align: right;
    margin: auto ;
    padding: 300px;
}