*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%; 
}
.phan1{
    background: url("./image/1.jpg") no-repeat  ;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}