*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.khoi{
    width: 80%;
    margin-left: 10%;
}
.sanpham{
    width: 20%;
    text-align: center;
}
.sanpham a{
    text-decoration: none;
    width: 100%;
    display: block;
}
.sanpham a .hinh{
    width: 50%;
    border: 1px solid red;
}
.sanpham a .hinh img{
    width: 100%;
}