*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@100&display=swap');
.khoi{
    width: 80%;
    margin-left: 10%;
    display: flex;
}
.sanpham{
    width: 20%;
    text-align: center;
    position: relative;
    border: 1px solid gainsboro;
    padding-bottom: 4%;
    display: inline-block;
}
.sanpham:hover {
    border-color: gray;
}
.sanpham a{
    text-decoration: none;
    width: 100%;
    display: block;
}
.sanpham a .hinh{
    width: 85%;
    margin: auto;
    overflow: hidden;
}
.sanpham a .hinh img{
    width: 100%;
    transition: 0.3s;
}
.sanpham :hover .hinh img{
    transform: scale(1.05) rotate(-2deg);
    transition: 0.3s;
}
.sanpham a .tieude{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:  
    #2c3e50;
}
.sanpham .new{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: 
    #4ec67f;
    width: 60px;
    position: absolute;
    top: 50%;
    color: white;
}
.sanpham .mota{
    font-size: 17px;
    padding: 5px;
    margin-bottom: 5px;
}
.sanpham .nutmua{
    background-color: #60a24f;
    color: white;
    width: 50%;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}
.sanpham .traitim i {
    color: #4ec67f;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 3%;
    visibility: hidden;
}
.sanpham:hover .icon1{
    visibility:visible;
}
.sanpham .traitim:hover .icon1{
    visibility: hidden;
}
.sanpham .traitim:hover .icon2{
    visibility: visible;
}