.dienthoai{
    width: 400px;
    height: 400px;
    position: relative;
    margin-left: 100px;
}
.nen{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 12%;
    left: 12%;  
    border-radius: 50%;
    background-color: #44bd32;
    z-index: 2;
}
.icon{
    position: absolute;
    z-index: 3;
    font-size: 120px;
    top: 20%;
    left: 25%;
    color: white;
    animation: rung 1s infinite;
}
.vien{
    width: 300px;
    height: 300px;
    border: 1px solid #44bd32;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    animation: zoom 3s infinite;
}
@keyframes zoom{
    from{
        transform: scale(0.5); 
    }
    to{
        transform: scale(1);
    }
}
@keyframes rung{
    0%{
        transform: rotate(0);
    }
    10%{
        transform: rotate(-10deg);
    }
    20%{
        transform: rotate(0);
    }
    30%{
        transform: rotate(-10deg);
    }
    40%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-10deg);
    }
    60%{
        transform: rotate(0);
    }
    70%{
        transform: rotate(-10deg);
    }
    80%{
        transform: rotate(0);
    }
    90%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0);
    }
}

