* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 24px;
  line-height: 1.5;
}

.content h1 {
  font-size: 3.2rem;
}

.content p {
  margin: 16px 0;
  font-size: 1.8rem;
}

.content img {
  max-width: 100%;
}
.modal{
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .body{
  /* background-color: orange; */
  width: 440px;
}
.modal .body img{
  width: 100%;
}
.modal button{

}
h2{
  background-color: orange;
  re
}