*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
ul{
  list-style: none;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: #333;
}
.menu > li{
 
  display: inline-block;
  margin: 0 12px;
  padding-bottom: 20px;
}
.menu li{
  position: relative;
}
.menu  li:hover > .sub-menu{
  transition: all 0.2s linear;
  display: none;
}
.menu a{
  color: #fff;
  text-decoration: none;
}
.sub-menu{
  position: absolute;
  top: 32px;
  left: -12px;
  width: 140px;
  background-color: #fff;
  /* visibility: hidden;
  opacity: 0; */
}
.sub-menu li:hover{
  background-color: gray;
}
.sub-menu a{
  width: 100%;
  color: #333;
  display: inline-block;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}
.sub-menu .sub-menu{
  left: 100%;
  top: 0;
  display: none;
}