*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.notification {
  position: relative;
  font-size: 32px;
  color: #666;
}
.notification .badge{
  position: relative;
  color: #fff;
  background-color: red;
}
.notification .badge{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: red;
  font-size: 16px;
  padding: 4px 2px;
  border-radius: 5px;
  text-tj

}