.dn:hover{
    font-weight: bold;
}
.formdn{
    width: 400px;
    height: auto;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}