.dn:hover{
    font-weight: bold;
}
.formdn{
    width: 400px;
    height: auto;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 10px;
    position: fixed;
    top: 30vh;
    left: 50vw;
    transform: translatex(-50%);
}
.formdn input{
    width: 280px;
}