* {
    margin: 0;
    padding: 0;
    font: inherit;
}
.slidewrapper{
    position: relative;
}
.ndslide ul{
    position: relative;
}
.ndslide li{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}
.ndslide li.active{
    opacity: 1;
}
.nutchuyen{
    po
}