
.khoi{
    width: 100%;
    height: auto;
    position: relative;
}
.nenden{
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.195);
    position: absolute;
    top: 0  ;
}
.khoi:hover .nenden{
    opacity:1;
    transition: 0.3s;
}