*{
    margin: 0;
    padding: 0;
    transition: 0.3s;
}
.khoi{
    width: 100%;
    height: auto;
    position: relative;
}
.nenden{
    width: 100%;
    height: 350px; 
    background-color: rgba(0, 0, 0, 0.195);
    position: absolute;
    top: 0  ;
    opacity: 0;
}
.khoi:hover .nenden{
    opacity:1;
    transition: 0.3s;
}
.khoi .icon{
    width: 100px;
    background-color: gray;
    height: 100px;
    border-radius: 50%;
}