*{
    margin: 0;
    padding: 0;
    transition: 0.3s;
}
.khoi{
    width: 100%;
    height: auto;
    position: relative;
}
.nenden{
    width: 100%;
    height: 350px; 
    background-color: rgba(0, 0, 0, 0.195);
    position: absolute;
    top: 0  ;
    opacity: 0;
}
.khoi:hover .nenden{
    opacity:1;
    transition: 0.3s;
}
.khoi .icon{
    width: 100px;
    background-color: rgba(255, 255, 255, 0.471);
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.7);
    text-align: center;
    opacity: 0;
}
.khoi i{
    font-size: 50px;
    margin-top: 25%;
    color: white;
}
.khoi:hover .icon{
    opacity: 1;
    transition: 0.5s;
    transform: scale();
}