*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: darkblue;

}
.menu .nutdn{
    color: white;
    font-size: 20px;
    padding: 10px;
    float: left;
    float: right;
    margin-right: 50px;
    cursor: pointer;
}
.formdn{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 10;
}