*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: darkblue;

}
.menu .nutdn{
    color: white;
    font-size: 20px;
    padding: 10px;
    float: left;
    float: right;
    margin-right: 50px;
    cursor: pointer;
}
.formdn{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.285);
    position: fixed;
    top: 0;
    z-index: 10;
}
form{
    width: 300px;
    height: auto;
    padding: 10px;
    text-align: center;
    border: 5px double red;
    border-radius: 5px;
    display: flex;
    
}