.link{
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}
.phantu{
    position: relative;
}
.khoi{
    width: 200px;
    height: 300px;
    background-color: blue;
    position: absolute;
    top: 100px;
    transition: 0.5s ;
    visibility: hidden;
    opacity: 0;
}
.phantu:hover .khoi{
    top: 40px;
    transition: 0.5s ;
    visibility: visible;
    opacity: 1;
}