*{
    margin: 0;
    padding: 0;
    transition: 0.3s;
}
html,body{
    width: 100%;
    height: 100%;
}
.hinhs1{
    width: 100vw;
    height: 100vh;
    animation: zoom 3s forwards;
}
@keyframes zoom {
    0%{transform: scale(1.2);}
    100%{transform: scale(1);}
}