*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.menu{
    width: 90%;
    height: 40px;
    background-color: #fa8231;
    padding-left: 10%;
    display:flex;
}
.menu .phantu{
    border:1px solid red;
    position: relative;
}
.phantu .tren{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
}
.phantu .item{
    /* width: 200px; */
    position: absolute;
    top: 40px;
}
.phantu .item a{
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 3px;
    width: 200px;
}