*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.menu{
    width: 90%;
    height: 40px;
    background-color: #fa8231;
    padding-left: 10%;
    display:flex;
}
.menu .phantu{
    border:1px solid red;
}
.phantu .tren{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}
