*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.menu{
    width: 90%;
    height: 40px;
    background-color: #fa8231;
    padding-left: 10%;
    display:flex;
}
.menu .phantu{
    /* border:1px solid red; */
    position: relative;
}
.phantu .tren{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
}
.phantu .item{
    /* width: 200px; */
    position: absolute;
    top: 40px;
    visibility: hidden;
    background-color: white;
}
.phantu .item a{
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 3px;
    width: 200px;
    font-size: 16px;
    border: 1px solid rgb(212, 208, 208);
}
.phantu .item a:hover {
    font-weight: bold;
    border-left: 3px solid #fa8231;
    transition: 0.3s ease-in;
}
.phantu:hover .item{
    visibility: visible;
}
.banner{
    width: 90%;
    height: 50%;
    background-repeat:no-repeat ;
    background-size: cover;
    margin: auto;
    animation: bg 10s infinite;
}
@keyframes bg {
    0%{ background-image: url("./image/1.jpg");}
    25%{ background-image: url("./image/2.jpg");}
    50%{ background-image: url("./image/3.jpg");}
    70%{ background-image: url("./image/4.jpg");}
    100%{ background-image: url("./image/5.jpg");}
}
.loaihoa{
    width: 80%;
    height:auto;
    border: 1px solid gray;
    display: flex;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    padding: 2%;
}
.chude{
    width: 19%;
    height: auto;
    text-align: center;
    background-color: #fa8233;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    text-decoration: none;
}
.hinh{
    width: 100%;
    border-radius: 50%;
    border: 5px solid white;
}
.chude .tieude{
    color: #4cd137;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    margin: 25px 0px; 
}