.dienthoai{
    width: 400px;
    height: 400px;
    position: relative;
    margin-left: 100px;
}
.nen{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 12%;
    left: 12%;  
    border-radius: 50%;
    background-color: #44bd32;
    z-index: 2;
}