.cha{
    width: 800px;
    height: 500px;
    border: 3px solid red;
}
.con1{
    width: 150px;
    height: 150px;
    background-color: darkblue;
}
.con2{
    width: 250px;
    height: 250px;
    background:red;
}