.cha{
    width: 800px;
    height: 500px;
    border: 3px solid red;
    position:relative;/*xac dinh doi tuiong cha*/
}
.con1{
    width: 150px;
    height: 150px;
    background-color: darkblue;
    position: absolute;
    right: 20PX;
}
.con2{
    width: 250px;
    height: 250px;
    background:red;
}
.con3{
    width: 300px;
    height: 300px;
    background-color: bisque;
}