*{
    margin: 0;
    padding: 0;
}
.menu{
    width: 90%;
    height: 60px;
    background-color: #78b43d;
    padding-left: 10%;
    display: flex;
}
.phantu{
}
.phantu a.phantren{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.phantu a.phantren i{
    display: block;
    font-size: 35px;
}