.link{
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}
.phantu{
    position: relative;
}
.khoi{
    width: 200px;
    height: 300px;
    background-color: blue;
    position: absolute;
    top: 100px;
}
.phantu:hover .khoi{
    
}