*{
    padding: 0;
    margin: 0;
}
.menu{
    width: 90%;
    height: 60px;
    background-color: 
    #78b43d;
    padding-left: 10%;
    display: flex;
}
.phantu{
    padding:5px;
}
.phantu a.phantren{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.phantu a.phantren i{
    display: block;
    font-size: 35px;
}
.phanduoi{
    width: 200px;
    background-color: #78b43d;
    color: white;
    position: absolute;
    top: 60px;
}
.phanduoi a{
    display: block;
    text-decoration: none;
    font-size: 18px;
}