*{
    padding: 0;
    margin: 0;
}
.menu{
    width: 90%;
    height: 60px;
    background-color: 
    #78b43d;
    padding-left: 10%;
    display: flex;
}
.phantu{

}
.phantu a.phantren{
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-transform: none;
    font-size: 35px;
}